[Unit]
Description=restore / save the current hw clock
DefaultDependencies=no
Requires=systemd-modules-load.service
After=systemd-modules-load.service
Before=sysvinit.target
Conflicts=shutdown.target

[Service]
EnvironmentFile=-/etc/default/hwclock
ExecStartPre=/bin/bash -c '/bin/echo mcp7940x 0x6f > /sys/class/i2c-adapter/i2c-1/new_device'
ExecStart=/sbin/hwclock --hctosys
ExecStop=/sbin/hwclock --systohc -D --noadjfile --utc
RemainAfterExit=yes
Restart=on-failure
RestartSec=1s
RestartForceExitStatus=70

[Install]
WantedBy=sysinit.target
