[Unit]
Description=restore / save the current hw clock
DefaultDependencies=no
Requires=systemd-modules-load.service
After=systemd-modules-load.service
Before=sysvinit.target
Conflicts=shutdown.target

[Service]
EnvironmentFile=-/etc/default/hwclock
ExecStart=/bin/bash -c '/usr/bin/test -d /sys/class/i2c-adapter/i2c-1 && sleep 2 && /bin/echo mcp7940x 0x6f > /sys/class/i2c-adapter/i2c-1/new_device && /bin/sleep 2 && /sbin/hwclock --hctosys'
Restart=on-failure
RestartSec=1s
StartLimitInterval=600
StartLimitBurst=60

[Install]
WantedBy=sysinit.target
